# Для Python (FastAPI)
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.db

# Для Node.js (если используешь)
node_modules/

# Для Swift / Xcode
DerivedData/
xcuserdata/
*.xcworkspace/
*.xcuserstate
*.swp
*.DS_Store

# Для VS Code
.vscode/
.venv/
